

.panel {

    &__title {

        position: absolute;
        left: 50%;
        top: 1rem;
        transform: translateX(-50%);
        width: min-content;
        white-space: nowrap;
        padding: 1rem;
        border-radius: 1rem;
        
    }

    &-card {

            &__form {

                margin: 17.4px 0;
                border-radius: 1rem;
            

                & * {

                    border-radius: 0.5rem;
                    margin-right: 10px;
                }

            }

        &__main-cont {
            display: flex !important;
            margin-top: 6rem !important;
            align-items: flex-start !important;
        }

        &__chart-cont {

            width: 50% !important;
            height: 100%;

        }

        &__cont {

            width: 50% !important;

            &--select {
                
                width: 50%;
                margin-left: 3rem;
                position: relative;
                margin-top: -16px;

            }

        }

        &__select {

            width: 30% !important;

        }

        &__submit {

            background-color: #E84F11;
            width: 28%;
            text-align: center;
            padding: 0;

        }

    }

}

.chart-modal {

    &__cont {

        position: absolute;
        transform: translate(0, -50%) scale(0);
        top: 50%;
        left: 50%;
        transition: 0.2s all ease-in-out;
        opacity: 0;
        background: blue;
        width: 60%;
        height: 40%;
        
    }

    &__toggle {
            
        transform: translate(-50%, -50%) scale(1);
        opacity: 1

    }


    

    &__chart {

        width: 100%;

    }

}

.panel-chart {

   
    background-color: #fff;
    border-radius: 1rem;
    height: 500px;

}