

.panel {

    &__title {

        position: absolute;
        left: 50%;
        top: 1rem;
        transform: translateX(-50%);
        width: min-content;
        white-space: nowrap;
        padding: 1rem;
        border-radius: 1rem;
        
    }

    &-chart {
        
        background-color: #fff;
        border-radius: 1rem;
        height: 500px;
        box-shadow: 0px 2px 8px -1px black;

    }

    &-card {

            &__form {

                margin: 17.4px 0;
                border-radius: 1rem;
            

                & * {

                    border-radius: 0.5rem;
                    margin-right: 10px;
                }

            }

        &__main-cont {
            display: flex !important;
            margin-top: 6rem !important;
            align-items: flex-start !important;
        }

        &__chart-cont {

            width: 50% !important;
            height: 100%;

        }

        &__cont {

            width: 50% !important;

            &--select {
                
                width: 50%;
                margin-left: 3rem;
                position: relative;
                margin-top: -16px;

            }

        }

        &__select {

            width: 30% !important;
            box-shadow: 0px 2px 4px 0px black;
            cursor: pointer;

        }

        &__submit, #chart-modal-button {

            background-color: #CD3B51;
            width: 28%;
            text-align: center;
            padding: 0;
            box-shadow: 0px 2px 4px 0px black;

        }

        #chart-modal-button {

            width:unset;
            padding: 0.5rem 1rem !important;
            font-size:1rem;
            border: unset;
            border-radius: 0.5rem;
            position: absolute;

            &:hover {
                background-color: #1e87f0;
            }

        }

    }

}

.chart-modal {

    &__cont {

        position: absolute;
        transform: translate(0, -50%) scale(0);
        top: 50%;
        left: 50%;
        transition: 0.2s all ease-in-out;
        opacity: 0;
        background: #fff;
        border: 2px solid black;
        width: 60%;
        height: 80%;
        
    }

    &__toggle {
            
        transform: translate(-50%, -50%) scale(1);
        opacity: 1

    }


    

    &__chart {

        width: 100%;

    }

    &__close-button {

        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        border: unset;
        cursor: pointer;

    }

}